doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = false
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: false, semantic: false }
- var assets = "assets"
- var thumbnail = "http://dummy.thumbnail"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title template
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="index.js")
  body
    #topic1
      h2 example 1
      div.e1 hello 
      div.e1 world 
      div.e1 ! 
      script.
        d3.select("body").selectAll("div.e1").style({
          background: function(d,i) { 
            return "rgba("+(i*85)+",128,192,1)";
          },
        });

      h2 example 2
      div.e2 hello 
      div.e2 world 
      div.e2 ! 
      script.
        d3.select("body").selectAll("div.e2").data(["#f00","#f90","#ff0"]).style({
          background: function(d,i) { 
            return d;
          },
        });

      h2 example 3
      div.e3s
      script.
        var v3 = d3.select(".e3s").selectAll("div.e3").data(["#f00","#f90","#ff0"]);
        v3.exit().remove();
        v3.enter().append("div").attr("class","e3");
        d3.select(".e3s").selectAll("div.e3").style({
          background: function(d,i) { 
            return d;
          },
        }).text(function(d) { return d;});

      h2 exercise
      p
        | draw following circles with radius in following data:
        br
        [3,1,4,1,5,9,2,6,5,3,5,8,9,7,9]
      svg.e4s(width="900px",height="250px",viewBox="0 0 900 250",preserveAspectRatio="xMidYMid",style="border: 1px solid #000")
      script.
        var v4 = d3.select(".e4s").selectAll("circle.e4").data([3,1,4,1,5,9,2,6,5,3,5,8,9,7,9]);
        v4.exit().remove();
        v4.enter().append("circle").attr("class","e4");
        d3.select(".e4s").selectAll("circle.e4").attr({
          cx: function(d,i) { return i * 60 + 10; },
          cy: 125,
          r: function(d,i) { return d * 3; },
          fill: "#000"
        });

